<!DOCTYPE html>
<html>
    <head>
        <title>Contribute to Fedora!</title>
        <style>
            html, body{
                padding: 10px;
                margin: 0;
            }
            .header-container{
                width: 100vw;
                text-align: center;
            }
            .header {
                margin: 0 auto;
                text-align: center;
                width: 256px;
                height: 200px;
                padding: 0;
            }
            #logo {
                width: 128px;
            }
        </style>
    </head>
    <body>
        <div class="header-container">
            <div class='header'>
                <img id='logo' src='static/images/logo.png'>
                <h1>Fedora</h1>
            </div>
        </div>
        <div id='contents'>
            <p>This is the Fedora logo. Fedora is an open-source, community supported, linux distribution which is sponsored by Red Hat. According to <a href='https://en.wikipedia.org/wiki/Fedora_(operating_system)'>Wikipedia</a>, it was initially released on 6th November 2003 (a few months after I was born!) and has been growing ever since. There are many Fedora Editions, most popular of them being Fedora Workstation and Fedora Server. One of the main differences between them is that Fedora Server doesn't include a desktop environment, but instead depends on management through CLI (command line interface). </p>
            <p>Fedora used DNF as a package-manager.</p>
            <p>According to <a href='linuxtoday.com'>linuxtoday.com</a>, FEDORA stands for Flexible Extensible Digital Object Repository Architecture</p>            
            <p>By default, Fedora Workstation ships using GNOME desktop environment.</p>
            <p>Since Fedora is open source, why don't you try to contribute, with anything that you can do! From bug tracking, to designing, or even as a translator! Anyone can find something to do!</p>
        </div>
    </body>
</html>